<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/Ibuildings/QA/tests/bootstrap/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Ibuidlings QA tools test suite">
            <directory suffix="Test.php">src/Ibuildings/QA/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
