inherit:              false 
tools:
    # Runs the PHP CS Fixer (http://http://cs.sensiolabs.org/).
    php_cs_fixer:
        extensions:
            - php
        command:              ./vendor/bin/php-cs-fixer
        filter:
            paths:                [{{ srcPath }}/*, {{ testsPath }}/*]
        enabled:              {{ enablePhpCsFixer|bool }}
        config:
            level:              {{ phpCsFixerLevel|default('all') }} # Allowed Values: "psr0", "psr1", "psr2", "all"

    # Runs the PHP Mess Detector (http://phpmd.org).
    php_mess_detector:    
        extensions:           
            - php
        command:              ./vendor/bin/phpmd
        filter:
            paths:                [{{ srcPath }}/*, {{ testsPath }}/*]
        enabled:              {{ enablePhpMessDetector|bool }}
        config:
            rulesets:             
                - codesize

    # Runs Scrutinizer's PHP Analyzer Tool
    php_analyzer:         
        extensions:           
            - php
        enabled:              {{ enablePhpAnalyzer|bool }}
        filter:
            paths:                [{{ srcPath }}/*, {{ testsPath }}/*]

    # Runs PHP Code Sniffer
    php_code_sniffer:     
        extensions:           
            - php
        command:              ./vendor/bin/phpcs
        enabled:              {{ enablePhpCodeSniffer|bool }}
        filter:
            paths:                [{{ srcPath }}/*, {{ testsPath }}/*]
        config:
            # Built-in standards: PEAR, PHPCS, PSR1, PSR2, Squiz, Zend
            standard:             {{ phpCodeSnifferCodingStyle|default('PSR2') }}

    # Checks your dependencies against sensiolabs's security advisory database.
    sensiolabs_security_checker:  
        enabled:              {{ enablePhpSecurityChecker|bool }}
