# behat.yml
default:
    suites:
        default:
            paths: [ %paths.base%/features ]

    extensions:
        Behat\MinkExtension:
            base_url: {{baseUrl}}
            default_session: goutte
            browser_name: "firefox"
            sessions:
              default:
                goutte: ~
            selenium2:
              wd_host: "http://localhost:4444/wd/hub"
              capabilities: { "browser": "firefox", "version": "14"}

ci:
    extensions:
        Behat\MinkExtension:
            base_url: {{baseUrlCi}}

# The dev
imports:
    - behat.dev.yml
