#! /bin/sh

# Run the dev build
ant dev 
exitCode=$?

# If exit code is not 0 then there was a failure
if [ 0 -ne $exitCode ]
then
    echo "\n\033[01;31mCommit aborted: build failed\033[00m"
    echo "\nIf you want to commit anyway, use --no-verify"
    exit 1
fi

exit 0
